html, body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}
canvas {
  display: block;
}

.center_box {
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
  height: 60vh;
  padding: 5px;
  min-width: 60%;
}


.img_container {
  display: flex;
  width: 40%;
  margin: left;
  margin-left: 40px;
  margin-top: 60px;
  align-content: left;
  float: left;
}

.more_text {
  width: 50%;
  margin: left;
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  text-align: left;
  padding: 10px;
  height: 90vh;
  max-height: 30%;
}

hr {
  width: 90%;
}


